<%= link_to user_favorite_path(current_user, favorite, on_page: "category", category_id: params[:id]), method: :delete, class: "fav-remove", id: "favorite-#{favorite.id}" do %>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<% end %>
