<%= link_to user_favorite_path(current_user, favorite), method: :delete, class: "fav-remove", id: "favorite-#{favorite.id}" do %>
  <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
<% end %>
