<h1><%= @workout_template.title %></h1>
<h2> TIMER TO BE ADDED HERE </h2>
<p>Button: Start workout</p>
<p>Button: Favorite workout</p>
<button class="btn btn-success">Log workout</button>

<p><%= @workout_template.description %></p>

<br>
<%= link_to "Back", category_path(@category) %>
