<h1><%= @workout_template.title %></h1>
<h2> TIMER TO BE ADDED HERE </h2>
<p>Button: Start workout</p>
<p>Button: Favorite workout</p>
<button class="btn btn-success">YOOOO</button>

<p><%= @workout_template.description %></p>


