
<h1><%= "#{current_user.first_name}'s Groups" %></h1>

<ul>
<% @groups.each do |group| %>
  <li><a href=<%= "/groups/#{group.id}" %>><%= group.name %></a></li>
<% end %>
</ul>

<br>
<br>

<a href="/groups/new"><button class="btn btn-success" id="create-group">Create a New Group</button></a>
<div id="form-holder"></div>
