<h2> Create a new group </h2>

<%= form_for @group do |f| %>
  <div class="field">
    <%= f.text_field :name, placeholder: "Group Name", class: "form-control" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_field :picture, placeholder: "Group Picture URL", class: "form-control" %><br>
  </div>
  <div>
    <small>Note: You will be the admin of this group, responsible for adding and deleting members.</small>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Create new group", class: "btn btn-success" %>
  </div>




<% end %>
