<h2><%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
<br>
<%= "Total workouts: #{@total_workouts.length}" %>

<ul>

  <% @completed_workouts.each do |key, value| %>

    <li>
      <%= "#{key}: #{value}" %>
    </li>

  <% end %>

  <% @completed_categories.each do |key, value| %>

    <li>
      <%= "#{key}: #{value}" %>
    </li>

  <% end %>

</ul>
