
<h1><%= "#{@user.first_name}'s Page" %></h1>

<%= "Total workouts: #{@total_workouts.length}" %>

<ul>

  <% @user.sort_most_common_workouts.each do |key, value| %>

    <li>
      <%= "#{key}: #{value}" %>
    </li>

  <% end %>
<h2> categories </h2>
  <% @user.sort_most_common_categories.each do |key, value| %>

    <li>
      <%= "#{key}: #{value}" %>
    </li>

  <% end %>

</ul>
