/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$our-green: #A0B27C;
$our-gray: #3F4045;
$our-cream: #F0EADF;
$our-red: #F32C31;

.nav-fix {
  margin-top: 4em;
}

#sign-up-form, #log-in-form {
  display: none;
}

#landing {
  margin-top: 6em;
  text-align: center;
}

body {
  background: $our-green;
}

.navbar {
 background: $our-gray;
}

#navbar a {
  color: $our-cream;
  position: relative;
}

#header-text {
  font-family:'Copperplate';
  color: #F0EAD6;
  font-size: 2.2em;
  position: relative;
}

a{
  color: $our-cream;
}
a:hover {
  color: #F32C31;
}
a:active{
  color: #F32C31;
}

