// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-text {
  color: #3F4045; // grey color
}

.category-index-tile {
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #252a40;
  margin-bottom: 7px;
}

a.category-name {
  color: #F0EADF; // cream color
}

a.category-name:hover {
  text-decoration: none;
  color:white;
}

a.category-name:hover .category-index-tile {
  background-color: #b30c33;
}

.workout-template-individual {
  height: 80px;
  margin-bottom: 7px;
}

.row {
  display: block;
}

a .category-description {
  height: 80px;
  line-height: 80px;
  background-color: #252a40;
  color: white;
}

a .category-description:hover {
  background-color: #ff7003; // orange color
}

.favorite-button-div {
  height: 80px;
  // background-color: #252a40;
}
