// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-index-tile {
  padding: 20px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #e2063d;
  margin: 5px 0px 5px 0px;
  display: block;
}

a.category-name {
  color: white;
}

a.category-name:hover {
  text-decoration: none;
  color:white;
}

a.category-name:hover .category-index-tile {
  background-color: #b30c33;
}


.col-xs-6 {
  height: 200px;
  background-color: black;
  margin: 5px;
  display: inline-block;
}
