// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.category-text {
  color: #3F4045; // grey color
}

// for small and mobile screens
// max-width: 991px
@media screen and (max-width: 766px) {
  .category-index-tile {
    padding: 30px;
    padding-left: 30px;
  }

  .category-favorites {
    background-image: url('/assets/favorites-small.png');
    background-size: 100% auto;
  }

  .category-power {
      background-image: url('/assets/power-small.jpg');
      background-size: 100% auto;
    }

  .category-cardio {
      background-image: url('/assets/cardio-small.jpg');
      background-size: 100% auto;
    }

  .category-yoga {
    background-image: url('/assets/yoga-small.jpg');
    background-size: 100% auto;
  }

}

// for medium screens
@media screen and (max-width: 990px) and (min-width: 767px) {
  .category-index-tile {
    padding: 80px;
    padding-left: 30px;
  }

  .category-favorites {
    background-image: url('/assets/favorites-medium.png');
  }

  .category-power {
    background-image: url('/assets/power-medium-large.jpg');
    background-size: 100% auto;
  }

  .category-cardio {
      background-image: url('/assets/cardio-medium-large.jpg');
      background-size: 100% auto;
    }

  .category-yoga {
    background-image: url('/assets/yoga-medium-large.jpg');
    background-size: 100% auto;
  }
}


// for large screens
@media screen and (min-width: 992px) {
  .category-index-tile {
    padding: 120px;
    padding-left: 30px;
  }

  .category-favorites {
    background-image: url('/assets/favorites-large.png');
    //background-size: 100% auto;
  }

  .category-power {
    background-image: url('/assets/power-medium-large.jpg');
    background-size: 100% auto;
  }

  .category-cardio {
      background-image: url('/assets/cardio-medium-large.jpg');
      background-size: 100% auto;
    }

  .category-yoga {
    background-image: url('/assets/yoga-medium-large.jpg');
    background-size: 100% auto;
  }
}

.category-index-tile {
  font-size: 18px;
  font-weight: 200;
  // background-color: #252a40;
  // background-image: url('/assets/favorites.png');
  background-repeat: no-repeat;
  margin-bottom: 7px;
}

a.category-name {
  color: white // #F0EADF; // cream color
}

a.category-name:hover {
  text-decoration: none;
  color:white;
}

a.category-name:hover .category-index-tile {
  background-image: none;
  background-color: #ff7003; //orange color
}

@media screen and (max-width: 991px) {
  .workout-template-individual {
    height: 100px;
    line-height: 100px
  }

  .favorite-button-div {
    height: 100px;
    padding: 1em;
  }
}

@media screen and (min-width: 992px) {
  .workout-template-individual {
    height: 150px;
    line-height: 150px;
  }

  .favorite-button-div {
    height: 150px;
    padding: 2.5em;
  }
}

.workout-template-individual {
  margin-bottom: 7px;
}

.row {
  display: block;
}

a .category-description {
  background-color: #252a40;
  color: #F0EADF; // cream color
}

a .category-description:hover {
  background-color: #ff7003; // orange color
}

