// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$our-green: #A0B27C;
$our-gray: #3F4045;
$our-cream: #F0EADF;

.fb-login img {
  height: 3em;
}

#profile-main-header{
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}

#profile-title{
text-align: center;
width:100%;

}

.profile-column-header{
  text-align: center;
  font-size: 1.8em;
  width: 33.3%;
}

.profile-data{
  text-align: center;
  font-size: 1.4em;
}

#profile-main-table{
  margin-bottom: 20px;
}

.profile-data-change{
   text-align: center;
   font-size: 1em;
}


