<h1><%= @category.name %></h1>

<% @workout_templates.each do |workout_template| %>
  <li>
      <%= link_to workout_template.title, workout_template_path( workout_template) %>
  </li>
<% end %>
<br>
<%= link_to "Back", categories_path %>
